{{ define "title" }}{{ .Name }} - Releases{{ end }}
{{ define "description" }}{{ .Name }} - {{ .Repository.Description }} - Releases{{ end }}

{{ define "canonical" }}
    {{ if not .Index }}
    <link rel="canonical" href="https://rlsz.dev/{{ $.Path }}/">
    {{ end }}
{{ end }}

{{ define "stamp" }}{{ .Stamp }}{{ end }}

{{ define "content" }}

    <section class="col" itemscope itemtype="https://schema.org/SoftwareSourceCode">
        <h1 itemprop="name">{{ .Name }}</h1>
        <p>
            <a href="{{ .Repository.HTMLUrl }}" itemprop="codeRepository" itemscope itemtype="https://schema.org/URL" target="_BLANK">{{ .Repository.HTMLUrl }}</a>
        </p>

        {{ range .Releases }}
            <div class="card mb-3 shadow overflow-hidden" data-id="{{ .NodeID }}">
                <div class="card-header bg-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <h2 class="card-title" itemprop="version"><a id="{{ .TagName }}">{{ .TagName }}</a></h2>
                        </div>
                        <div>
                            <a href="#{{ .TagName }}">#</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ .HTML }}
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="d-flex me-2">
                                <span class="bg-primary text-white p-2 rounded-start d-flex align-items-center">Created</span>
                                <span class="bg-white border border-primary p-2 rounded-end">
                                    <time datetime="{{ .CreatedAt }}" itemprop="dateCreated">{{ .CreatedAt }}</time>
                                </span>
                            </span>
                            <span class="d-flex me-2">
                                <span class="bg-success text-white p-2 rounded-start d-flex align-items-center">Published</span>
                                <span class="bg-white border border-success p-2 rounded-end">
                                    <time datetime="{{ .PublishedAt }}" itemprop="datePublished">{{ .PublishedAt }}</time>
                                </span>
                            </span>
                            <span class="d-flex me-2">
                                <span class="bg-warning p-2 rounded-start d-flex align-items-center">Prerelease</span>
                                <span class="bg-white p-2 border border-warning rounded-end d-flex align-items-center">
                                    <img src="/assets/images/{{ .PreRelease }}.svg?v=2" width="16" height="16" alt="">
                                </span>
                            </span>
                            <span class="d-flex me-2">
                                <span class="bg-info p-2 rounded-start d-flex align-items-center">Draft</span>
                                <span class="bg-white p-2 border border-info rounded-end d-flex align-items-center">
                                    <img src="/assets/images/{{ .Draft }}.svg?v=2" width="16" height="16" alt="">
                                </span>
                            </span>
                        </div>
                        <div>
                            <a href="{{ .HTMLURL }}" target="_BLANK" title="{{ $.Name }} {{ .TagName }} release on GitHub"><img src="/assets/images/github.png" width="25" height="25" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </section>

{{ end }}
